# System authorization information
auth --enableshadow --passalgo=sha512
# Use graphical install
text
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=vda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8
# Agree to EULA
eula --agreed
# Reboot after completing the installation
reboot

# Network information
network  --bootproto=dhcp --device=eth0 --ethtool="autoneg on" --ipv6=auto --activate
network  --hostname=localhost.localdomain

# Root password
rootpw --iscrypted $6$3/jdeA7n$umpNM5t0e3IvMZqoFUnq0QOToFG/C.GEW5mkMiHK/apbGB2fGr0rUO/fAHP8zFtdRmkcfg9lVUsevfsfXxE0f/
# System services
services --disabled="chronyd"
# System timezone
timezone Europe/Sofia --isUtc --nontp
# System bootloader configuration
bootloader --append="crashkernel=auto net.ifnames=0 biosdevname=0" --location=mbr --boot-drive=vda

# Partition clearing information
zerombr
clearpart --all --initlabel --drives=vda
# Disk partitioning information
part /boot --fstype="ext2" --ondisk=vda --size=512
part swap --fstype="swap" --ondisk=vda --size=2048
part / --fstype="xfs" --ondisk=vda --size=21264

%packages
@^minimal
@core
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end

