[Unit]
Description=Setting IPsec Keys and Static Policies
After=syslog.target network.target

[Service]
Type=simple
ExecStart=/usr/sbin/setkey -f /etc/racoon/setkey.conf
ExecStop=/usr/sbin/setkey -DF
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
